﻿@page "/admin/logs"
@inherits LogsModel

<div>
    <div class="container" style="max-width:1600px;">
        <div class="mdc-elevation--z2" style="margin-top:2%;margin-bottom:5%;border-radius:20px;background-color:white;">
            <div style="padding-top:4%;padding-left:4%;padding-right:4%;padding-bottom:3%;">
                <h3 style="font-size:24px;">Logs</h3>
            </div>
            <div style="padding-top:1%;padding-bottom:1%;">
                <SfGrid @ref="@LogsGrid" ID="gridLogs" DataSource="@Logs" Width="100%" AllowSelection="true" AllowPaging="true" AllowFiltering="true" AllowSorting="true">
                    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                    <GridEvents RowSelected="GetLogSelected" TValue="LogModel"></GridEvents>
                    <GridFilterSettings EnableCaseSensitivity="false" IgnoreAccent="true" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                    <GridColumns>
                        <GridColumn Field="Id" HeaderText="Id" Visible="false" IsPrimaryKey="true" Width="130"></GridColumn>
                        <GridColumn Field="IP" HeaderText="IP" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                        <GridColumn Field="Username" HeaderText="Username" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                        <GridColumn Field="CreatedAt" HeaderText="Data" TextAlign="TextAlign.Left" Width="120" Format="dd/MM/yyyy" Type="ColumnType.Date"></GridColumn>
                        <GridColumn Field="Operation" HeaderText="Operação" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                        <GridColumn Field="JsonRequest" HeaderText="Request" TextAlign="TextAlign.Left" Width="250"></GridColumn>
                        <GridColumn Field="Status" HeaderText="Estado" TextAlign="TextAlign.Left" Width="120">
                            <Template>
                                @{
                                    var log = (context as LogModel);

                                    <div>@(log.Status.Equals("Error") ? "Erro" : "Informação")</div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="Error" HeaderText="Erro" TextAlign="TextAlign.Left" Width="250"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>
<SfDialog @ref="@ModalLog" ID="modalInterview" @bind-Visible="@ShowModalLog" Width="900px" Height="850px;" ShowCloseIcon="true" IsModal="true" CssClass="custom-dialog">
    <DialogTemplates>
        <Header>
            Log @LogDate
        </Header>
        <Content>
            <div class="row" style="margin-top:2%;">
                <div class="col-md-6">
                    <label for="txtIP" title="IP" class="prop-label">IP</label>
                    <SfTextBox ID="txtIP" Enabled="false" @bind-Value="@LogInfoModel.IP"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtUsername" title="Username" class="prop-label">Uername</label>
                    <SfTextBox ID="txtUsername" Enabled="false" @bind-Value="@LogInfoModel.Username"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtLogDate" title="Data Criação" class="prop-label">Data</label>
                    <SfTextBox ID="txtLogDate" Enabled="false" @bind-Value="LogDate"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtOperation" title="Operação" class="prop-label">Operação</label>
                    <SfTextBox ID="txtOperation" Enabled="false" @bind-Value="@LogInfoModel.Operation"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="txtJsonRequest" title="Request" class="prop-label">Request</label>
                    <SfTextBox ID="txtJsonRequest" Enabled="false" @bind-Value="@LogInfoModel.JsonRequest" Multiline="true" CssClass="multiline-field"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="txtStatus" title="Estado" class="prop-label">Estado</label>
                    <SfTextBox ID="txtStatus" Enabled="false" @bind-Value="LogEstado"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="txtError" title="Descrição Erro" class="prop-label">Erro</label>
                    <SfTextBox ID="txtError" Enabled="false" @bind-Value="@LogInfoModel.Error" Multiline="true" CssClass="multiline-field"></SfTextBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
