﻿@page "/admin/tech_skills"
@inherits TechSkillsModel

<div id="page">   
    <div class="container" style="max-width:1600px;">
        <div class="mdc-elevation--z2" style="margin-top:2%;margin-bottom:5%;border-radius:20px;background-color:white;">
            <div style="padding-top:2%;padding-left:2%;padding-right:4%;">
                <h3 style="font-size:24px;">Tech Skills&nbsp;<MatIcon title="Clique duas vezes para actualizar o registo e depois carrega em guardar para persistir a alteração ou em cancelar para desfazer." Icon="help_outline" Style="color:#889AFD; font-size:15px;" /></h3>                
            </div>
            <div style="padding-top:1%;padding-bottom:1%;">
                <SfGrid ID="gridJobRoles" @ref="@TechSkillsGrid" DataSource="@TechSkills" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@Actions">
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowConfirmDialog="true" ShowDeleteConfirmDialog="true" Mode="EditMode.Normal" />
                    <GridFilterSettings EnableCaseSensitivity="false" IgnoreAccent="true" Type="Syncfusion.Blazor.Grids.FilterType.Menu" />
                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="TechSkillModel"></GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(TechSkillModel.Id) HeaderText="Id" IsPrimaryKey="true" TextAlign="TextAlign.Center" AllowAdding="false" AllowEditing="false" Width="20"></GridColumn>
                        <GridColumn Field=@nameof(TechSkillModel.Category) HeaderText="Categoria" TextAlign="TextAlign.Left" Width="80">
                            <EditTemplate>
                                <SfDropDownList TItem="string" TValue="string" Placeholder="Selecione..." CssClass="e-outline field" DataSource="@TechSkillsCategoriesOptions" AllowFiltering="true" ShowClearButton="false">
                                    <DropDownListEvents TItem="string" TValue="string" ValueChange="ChangeCategory"></DropDownListEvents>
                                </SfDropDownList>
                            </EditTemplate>
                        </GridColumn>
                        <GridColumn Field=@nameof(TechSkillModel.Description) HeaderText="Descrição" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>
