﻿@page "/admin/users"
@inherits UsersModel

<div>
    <div id="page" class="row" style="background-color:#AAB6F9; margin:0px; height:400px;">
        <div class="col-md-3 offset-md-3">
            <img src="images/home1.png" Style="width:368px;height:294px;margin-top:15%;" />
        </div>
        <div class="col-md-3" style="text-align:center;" title="Criação de novo utilizador">
            <MatButton Id="btnCriarUtilizador" Outlined="true" Label="Criar utilizador" Style="color:black;border-color:black;width:280px;height:77px;font-size:28px;border:2px solid;margin-top:45%;" OnClick="@CreateOwner"></MatButton>
        </div>
    </div>
    <div class="container" style="max-width:1600px;">
        <div class="mdc-elevation--z2" style="margin-top:2%;margin-bottom:5%;border-radius:20px;background-color:white;">
            <div style="padding-top:4%;padding-left:4%;padding-right:4%;padding-bottom:3%;">
                <h3 style="font-size:24px;">Utilizadores</h3>
            </div>
            <div style="padding-top:1%;padding-bottom:1%;">
                <SfGrid @ref="@OwnersGrid" ID="gridUsers" DataSource="@Owners" Width="100%" AllowSelection="true" AllowPaging="true" AllowFiltering="true" AllowSorting="true">
                    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>   
                    <GridFilterSettings EnableCaseSensitivity="false" IgnoreAccent="true" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                    <GridColumns>
                        <GridColumn Field="Id" HeaderText="Id" Visible="false" IsPrimaryKey="true" Width="130"></GridColumn>
                        <GridColumn Field="Name" HeaderText="Nome" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                        <GridColumn Field="Email" HeaderText="Email" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                        <GridColumn Field="Profile" HeaderText="Perfil" TextAlign="TextAlign.Left" Width="180">
                            <Template>
                                @{
                                    var owner = (context as OwnerModel);

                                    <div>@(owner.Profile.Equals("OP_0001") ? "Admin" : "Owner")</div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="CreatedAt" HeaderText="Data" TextAlign="TextAlign.Left" Width="120" Format="dd/MM/yyyy" Type="ColumnType.Date"></GridColumn>
                        <GridColumn Field="Active" HeaderText="Ativo" TextAlign="TextAlign.Left" Width="120">
                            <Template>
                                @{
                                    var owner = (context as OwnerModel);

                                    <div>@(owner.Active.Value == true ? "Sim" : "Não")</div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="60" AllowFiltering="false">
                            <Template>
                                @{
                                    var owner = (context as OwnerModel);

                                    <MatFAB Style="background-color:white;color:black;" Icon="edit" Mini="true" OnClick="@(() => EditOwner(owner.Id.Value))"></MatFAB>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
</div>
<SfSpinner @ref="@Spinner" Target="#page" Label="A Carregar..." CssClass="custom-spinner" />
<SfDialog @ref="@ModalEditOwner" ID="modalEdit" @bind-Visible="@ShowModalEditOwner" Width="900px" Height="730px;" ShowCloseIcon="true" IsModal="true" CssClass="custom-dialog">
    <DialogTemplates>
        <Header>
            @OwnerInfoModel.Name
        </Header>
        <Content>
            <div class="row tabs-row-padding" style="margin-top:2%;">
                <div class="col-md-10 offset-md-1">
                    <label for="txtEmail" title="Email" class="prop-label">Email</label>
                    <SfTextBox ID="txtEmail" Enabled="false" @bind-Value="@OwnerInfoModel.Email"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtConfirmPassword" title="Nova password" class="prop-label">Nova Password</label>
                    <SfTextBox ID="txtConfirmPassword" @bind-Value="editConfirmPassword" Enabled="true" Type="InputType.Password" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtCheckPassword" title="Confirmar nova password" class="prop-label">Confirmar Nova Password</label>
                    <SfTextBox ID="txtCheckPassword" @bind-Value="editCheckPassword" Enabled="true" Type="InputType.Password" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1" style="padding-top:2%">
                    <label for="btnAdmin" title="Admin" class="prop-label">Admin?</label>&nbsp;
                    <SfSwitch ID="btnAdmin" @ref="btnAdmin" @bind-Checked="IsAdmin"></SfSwitch>
                </div>
            </div>
            <div class="row tabs-row-padding" style="padding-top:2%">
                <div class="col-md-10 offset-md-1">
                    <label for="btnActive" title="Activo" class="prop-label">Activo?</label>&nbsp;
                    <SfSwitch ID="btnActive" @ref="btnActive" @bind-Checked="IsActive"></SfSwitch>
                </div>
            </div>
            <div class="row tabs-row-padding" style="padding-top:2%">
                <div class="col-md-10 offset-md-1">
                    <label for="btnActive" title="Activo" class="prop-label">Bloqueado?</label>&nbsp;
                    <SfSwitch ID="btnBlock" @ref="btnBlock" @bind-Checked="IsBlock" Disabled="true"></SfSwitch>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton @ref="btnEdit" OnClick="@Edit" Content="Gravar" IsPrimary="true" CssClass="dialog-interview-button"></DialogButton>
        <DialogButton @ref="btnCancelEdit" OnClick="@CancelEdit" Content="Cancelar" CssClass="dialog-interview-button"></DialogButton>
    </DialogButtons>
</SfDialog>
<GlobalDialog GlobalDialogContentText="@OwnerDialogContentText" GlobalDialogHeaderText="@OwnerDialogHeaderText" 
              IsErrorDialog="@IsErrorDialog" IsSuccessDialog="IsSuccessDialog" IsWarningDialog="@IsWarningDialog" 
              ShowInterviewDialog="@ShowOwnerDialog" CloseCallback="@(()=>HideDialog())"/>
<SfDialog @ref="@ModalNewOwner" ID="modalCreate" @bind-Visible="@ShowModalNewOwner" Width="900px" Height="800px;" ShowCloseIcon="true" IsModal="true" CssClass="custom-dialog">
    <DialogTemplates>
        <Header>
            Novo utilizador
        </Header>
        <Content>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtNewOwnerNome" title="Nome" class="prop-label">Nome</label>
                    <SfTextBox ID="txtNewOwnerNome" @bind-Value="createName" Enabled="true" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtNewOwnerEmail" title="Email" class="prop-label">Email</label>
                    <SfTextBox ID="txtNewOwnerEmail" @bind-Value="createEmail" Enabled="true" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtNewConfirmPassword" title="Nova password" class="prop-label">Nova Password</label>
                    <SfTextBox ID="txtNewConfirmPassword" @bind-Value="editNewConfirmPassword" Enabled="true" Type="InputType.Password" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1">
                    <label for="txtNewCheckPassword" title="Confirmar nova password" class="prop-label">Confirmar Nova Password</label>
                    <SfTextBox ID="txtNewCheckPassword" @bind-Value="editNewCheckPassword" Enabled="true" Type="InputType.Password" CssClass="e-outline field"></SfTextBox>
                </div>
            </div>
            <div class="row tabs-row-padding">
                <div class="col-md-10 offset-md-1" style="padding-top:2%">
                    <label for="btnNewOwnerAdmin" title="Admin" class="prop-label">Admin?</label>&nbsp;
                    <SfSwitch ID="btnNewOwnerAdmin" @ref="btnNewAdmin" @bind-Checked="IsNewAdmin"></SfSwitch>
                </div>
            </div>
            <div class="row tabs-row-padding" style="padding-top:2%">
                <div class="col-md-10 offset-md-1">
                    <label for="btnNewOwnerActive" title="Activo" class="prop-label">Activo?</label>&nbsp;
                    <SfSwitch ID="btnNewOwnerActive" @ref="btnNewActive" @bind-Checked="IsNewActive"></SfSwitch>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton @ref="btnCreate" OnClick="@Create" Content="Gravar" IsPrimary="true" CssClass="dialog-interview-button"></DialogButton>
        <DialogButton @ref="btnCancelCreate" OnClick="@CancelCreate" Content="Cancelar" CssClass="dialog-interview-button"></DialogButton>
    </DialogButtons>
</SfDialog>

