﻿@inherits MainLayoutModel
<CascadingValue Value="@this">

    @if (_appState.IsLoggedIn)
    {
    <div id="main" style="width:100%;height:auto;">
        <div class="row" style="margin:0.5%;">
            <div class="col-md-2">
                <a @onclick="@(async () => await GoToHome())" style="cursor:pointer;" title="Ir a Página Inicial"><img src="images/logo.svg" style="width:75%;" /></a>
            </div>
            <div class="col-md-3 offset-md-1" style="padding-right:0px;text-align:center;" title="Pesquisa por Nome, Email ou Job Role">
                @*<MatTextField PlaceHolder="Pesquise..." TValue="string" Icon="search" IconTrailing="true" Class="search-field" Style="background: transparent;" OnFocus="@QuickSearch"></MatTextField>*@
            </div>
            @if (_appState.ShowSearchHeader)
            {
                <div class="col-md-3" style="padding: 0px; margin-top: 0.2%" title="Criação de nova entrevista">
                    <MatFAB Style="background-color:black;color:white;" Label="CRIAR ENTREVISTA" OnClick="@(async () => await CreateInterview())"></MatFAB>
                </div>
            }
            else
            {
                <div class="col-md-3" style="padding:0px;margin-top:0.2%" title="Pesquisa com filtros avançados">
                    <MatFAB Style="background-color:white;color:#969494;margin-left:15px;" Label="PESQUISA AVANÇADA" OnClick="@(async () => await AdvancedSearch())"></MatFAB>
                </div>
            }
            <div class="col-md-3" style="text-align:right">
                <a @onclick="Logout" title="Terminar Sessão" style="cursor:pointer;"><span class="e-icons rise-icon rise-logout-icon"></span></a>
                &nbsp;
                <div title="Botão direito para opções" style="display:inline-block;">
                    <MatFAB Id="btnUser" Style="background-color:black;color:white;font-size:30px;cursor:pointer;" OnClick="@(async (e) => await OpenUserMenu(e))">@_appState.OwnerLogged.Name.Substring(0, 1).ToUpper()</MatFAB>
                </div>
            </div>
            <SfContextMenu @ref="cxtUserMenu" Target="#btnUser" Items="@UserActions" TValue="MenuItem">
                <MenuEvents TValue="MenuItem" OnOpen="@SetupUserActions" ItemSelected="@(async (e) => await PerformUserAction(e))"></MenuEvents>
            </SfContextMenu>
        </div>
        @Body
    </div>        
    }
    else
    {
        if (!_appState.IsLoggedIn)
        {
            <div id="main" style="width:100%;height:100%;">
                @Body
            </div>
        }
    }
    <SfSpinner @bind-Visible="@SpinnerVisible" Label="@SpinnerLabel" CssClass="e-spin-overlay" />
    <SfDialog ID="ownerUpdateDialog" @bind-Visible="@ShowOwnerUpdateModal" Target="#app" Width="500px" Height="600" ShowCloseIcon="false" ZIndex="9998" IsModal="true" CssClass="custom-dialog">
        <DialogTemplates>
            <Header>
                @OwnerUpdateHeader
            </Header>
            <Content>
                <div class="row tabs-row-padding" style="margin-top:2%;">
                    <div class="col-md-10 offset-md-1">
                        <label for="txtNewName" title="Nome" class="prop-label">Nome</label>
                        <SfTextBox ID="txtNewName" Enabled="true" @bind-Value="@OwnerInfoModel.Name" CssClass="e-outline field"></SfTextBox>
                    </div>
                </div>
                <div class="row tabs-row-padding">
                    <div class="col-md-10 offset-md-1">
                        <label for="txtNewEmail" title="Email" class="prop-label">Email</label>
                        <SfTextBox ID="txtNewEmail" Enabled="true" @bind-Value="@OwnerInfoModel.Email" CssClass="e-outline field"></SfTextBox>
                    </div>
                </div>
                <div class="row tabs-row-padding">
                    <div class="col-md-10 offset-md-1" title="Nova password">
                        <label for="txtNewPassword" class="prop-label">Nova password</label>
                        <SfTextBox Type="InputType.Password" ID="txtNewPassword" @bind-Value="@OwnerNewPassword" CssClass="field e-outline"></SfTextBox>
                    </div>
                </div>
                <div class="row tabs-row-padding" style="margin-bottom:2%;">
                    <div class="col-md-10 offset-md-1" title="Confirme a nova password">
                        <label for="txtNewPasswordConfirm" class="prop-label">Confirme a nova password</label>
                        <SfTextBox Type="InputType.Password" ID="txtNewPasswordConfirm" @bind-Value="@OwnerNewPasswordConfirm" CssClass="field e-outline"></SfTextBox>
                    </div>
                </div>
                <div class="row tabs-row-padding">
                    <div class="col-md-10 offset-md-1" style="padding-top:2%">
                        <label for="btnAdmin" title="Admin" class="prop-label">Admin?</label>&nbsp;
                        <SfSwitch ID="btnAdmin" @ref="btnAdmin" Disabled="true" @bind-Checked="IsAdmin"></SfSwitch>
                    </div>
                </div>
                <div class="row tabs-row-padding" style="padding-top:2%">
                    <div class="col-md-10 offset-md-1">
                        <label for="btnActive" title="Activo" class="prop-label">Activo?</label>&nbsp;
                        <SfSwitch ID="btnActive" @ref="btnActive" Disabled="true" @bind-Checked="IsActive"></SfSwitch>
                    </div>
                </div>
            </Content>
        </DialogTemplates>
        <DialogEvents OnOverlayClick="@ModalOwnerUpdateClose"></DialogEvents>
        <DialogButtons>
            <DialogButton Content="Alterar" IsPrimary="true" OnClick="@UpdateOwnerPassword"></DialogButton>
            <DialogButton Content="Cancelar" OnClick="@ModalOwnerUpdateClose"></DialogButton>
        </DialogButtons>
    </SfDialog>
    <GlobalDialog ShowInterviewDialog="@ShowInfoDialog" IsErrorDialog="@IsErrorDialog" IsSuccessDialog="@IsSuccessDialog" IsWarningDialog="@IsWarningDialog" GlobalDialogContentText="@InfoDialogContentText" GlobalDialogHeaderText="@InfoDialogHeaderText" CloseCallback="@(()=>HideInfoDialog())" />
</CascadingValue>
