﻿.swagger-ui .topbar .download-url-wrapper .select-label select
{
    border: none;
}

.swagger-ui label
{
    color: #FFF;
}

.swagger-ui.topbar {
    padding: 8px 0;
    background-color: #09203b;
}

.swagger-ui.topbar.download-url-wrapper {
   display: none;   
 }

.swagger-ui.topbar a
{
    display: none;
}

.swagger-ui.topbar {    
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;    
    min-height: 40px;
}

.swagger-ui.scheme-container {
     margin: 0 0 5px; 
     padding: 0;      
     box-shadow: none; 
}

