<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>                
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <RedirectToLogin />
        </NotFound>
    </Router>
</CascadingAuthenticationState>