﻿@page "/candidate/{CandidateId}"
@inherits ViewModel

<div onload="LoadView()" id="page" style="height: 100%;">
    <div class="row" style="margin-top:3%;">
        <div class="col-md-10 offset-md-1" style="text-align:right;">
            <MatIcon Icon="clear" Style="font-size:40px;cursor:pointer" @onclick="AbortView"></MatIcon>
        </div>
    </div>
    <div class="row" style="height: auto;">
        <!--First Column-->
        <div class="col-md-6 offset-md-1">
            <!-- Header -->
            <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;margin-left:5%;margin-right:2%;border-radius:20px;background-color:white;height:auto;">
                <div style="height: 100%; padding:2%;">
                    <div class="row">
                        <div class="col-md-4" style="margin-right:0px;padding-right:0px;">
                            <h4>@InterviewInfoModel.Name</h4>
                        </div>
                        <div class="col-md-5" style="text-align:right;margin-top:0.3%;">
                            <h4 style="font-size:14px;"><span style="height: 25px; width: 25px; background-color: @CandidateTypeColor; border-radius: 50%; display: inline-block;" data-toggle="tooltip" title="@InterviewInfoModel.CandidateType"></span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>@InterviewInfoModel.JobTitle | @InterviewInfoModel.CandidateAvailability</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;margin-left:5%;margin-right:2%;border-radius:20px;background-color:white;height:auto;">
                <div style="height: 100%; padding:2%;">
                    <div id="tabDadosPessoais">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Dados Pessoais</h5>
                            </div>
                        </div>
                        <div class="row" style="margin-top:2%;">
                            <div class="col-md-6">
                                <label for="txtEmail" title="Email do Candidato" class="prop-label">Email</label>
                                <SfTextBox ID="txtEmail" Enabled="false" @bind-Value="@InterviewInfoModel.Email"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtCitizenship" title="Nacionalidade do Candidato" class="prop-label">Nacionalidade</label>
                                <SfTextBox ID="txtCitizendship" Enabled="false" @bind-Value="@InterviewInfoModel.Citizenship"></SfTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtBornDate" title="Aniversário do Candidato" class="prop-label">Data de Nascimento</label>
                                <SfTextBox ID="txtBornDate" Enabled="false" @bind-Value="@InterviewInfoModel.BornDate"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtMaritalStatus" title="Estado Civil do Candidato" class="prop-label">Estado Civil</label>
                                <SfTextBox ID="txtMaritalStatus" Enabled="false" @bind-Value="@InterviewInfoModel.MaritalStatus"></SfTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtDependentsAbove7" title="Número de Dependentes com ou maiores que 7 anos" class="prop-label">@String.Format("N° de Dependentes")</label>
                                <SfTextBox ID="txtDependentsAbove7" Enabled="false" @bind-Value="@InterviewInfoModel.DependentsAbove7"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtDependentsUnder7" title="Número de Dependentes menores que 7 anos" class="prop-label">@String.Format("N° de Dependentes < 7")</label>
                                <SfTextBox ID="txtDependentsUnder7" Enabled="false" @bind-Value="@InterviewInfoModel.DependentsUnder7"></SfTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtEmail" title="Contato do Candidato" class="prop-label">Telefone</label>
                                <SfTextBox ID="txtPhoneNumber" Enabled="false" @bind-Value="@InterviewInfoModel.PhoneNumber"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtLocation" title="Localização atual do Candidato" class="prop-label">Localização</label>
                                <SfTextBox ID="txtLocation" Enabled="false" @bind-Value="@InterviewInfoModel.Location"></SfTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtYearsOfExperience" title="Anos de Experiência Candidato" class="prop-label">Anos de Experiência</label>
                                <SfTextBox ID="txtYearsOfExperience" Enabled="false" @bind-Value="@InterviewInfoModel.YearsOfExperience"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtLinkedinProfile" title="Perfil do Linkedin do Candidato" class="prop-label">Perfil do LinkedIn</label>
                                <SfTextBox ID="txtLinkedinProfile" Enabled="false" @bind-Value="@InterviewInfoModel.LinkedinProfile"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <MatDivider Style="margin-bottom:2%;"/>
                    <div id="tabFormacoes">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Formações</h5>
                            </div>
                        </div>
                        <div class="row" style="margin-top:2%;">
                            <div class="col-md-6">
                                <label for="txtLiteraryAbility" title="Formação do Candidato" class="prop-label">Habilitações Académicas</label>
                                <SfTextBox ID="txtLiteraryAbility" Enabled="false" @bind-Value="@InterviewInfoModel.LiteraryAbility"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtCertifications" title="Certificações do Candidato" class="prop-label">Certificações</label>
                                <SfTextBox Enabled="false" @bind-Value="@InterviewInfoModel.Certifications" Multiline="true" CssClass="multiline-field" HtmlAttributes="@minLinesToShow"></SfTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtCollege" title="Escola do Candidato" class="prop-label">Faculdade</label>
                                <SfTextBox ID="txtCollege" Enabled="false" @bind-Value="@InterviewInfoModel.College"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <label for="txtLanguages" title="Idiomas falados pelo Candidato" class="prop-label">Línguas</label>
                                <SfTextBox ID="txtLanguages" Enabled="false" @bind-Value="@InterviewInfoModel.Languages"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <MatDivider Style="margin-bottom:2%;" />
                    <div id="tabTechSkills">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>TechSkills</h5>
                            </div>
                        </div>
                        @if (InterviewInfoModel.TechSkills.Count() > 0)
                        {
                            <div class="row" style="margin-top:2%;padding:1%;">
                                <SfChip EnableDelete="false">
                                    <ChipItems>
                                        @foreach (var techSkill in InterviewInfoModel.TechSkills)
                                        {
                                            <ChipItem Text="@techSkill.Description"></ChipItem>
                                        }
                                    </ChipItems>
                                </SfChip>
                            </div>
                        }
                        else
                        {
                            <SfTextBox Enabled="false" Value="Nenhuma Skill Registada."></SfTextBox>
                        }
                    </div>
                    <MatDivider Style="margin-bottom:2%;" />
                    <div id="tabSitProfissional">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Situação Profissional</h5>
                            </div>
                        </div>
                        <div class="row" style="margin-top:2%;">
                            <div class="col-md-6">
                                <label for="txtContractType" title="Tipo de Contrato oferecido na entrevista" class="prop-label">Tipo de Contrato</label>
                                <SfTextBox ID="txtContractType" Enabled="false" @bind-Value="@InterviewInfoModel.ContractType"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="txtCurrentSalary" title="Salário atual do Candidado" class="prop-label">Salário Actual</label>
                                </div>
                                <div class="row">
                                    <SfTextBox Width="100px" ID="txtCurrentSalary" Enabled="false" @bind-Value="@InterviewInfoModel.CurrentSalary"></SfTextBox>
                                    <SfTextBox Width="100px" ID="txtIsCurrentSalary" Enabled="false" @bind-Value="@InterviewInfoModel.IsCurrentSalary"></SfTextBox>
                                    <SfTextBox Width="100px" ID="txtCurrentMontlyPayment" Enabled="false" @bind-Value="@CurrentPaymentFrequency"></SfTextBox>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtOngoingProcess" title="Processos em curso pelo Candidato" class="prop-label">Processos em Curso</label>
                                <SfTextBox Enabled="false" @bind-Value="@InterviewInfoModel.OngoingProcesses" Multiline="true" CssClass="multiline-field" HtmlAttributes="@minLinesToShow"></SfTextBox>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="txtExpectedSalary" title="Salário pretendido pelo Candidado" class="prop-label">Salário Esperado</label>
                                </div>
                                <div class="row">
                                    <SfTextBox Width="100px" ID="txtExpectedSalary" Enabled="false" @bind-Value="@InterviewInfoModel.ExpectedSalary"></SfTextBox>
                                    <SfTextBox Width="100px" ID="txtIsExpectedSalary" Enabled="false" @bind-Value="@InterviewInfoModel.IsExpectedSalary"></SfTextBox>
                                    <SfTextBox Width="100px" ID="txtExpectationMontlyPayment" Enabled="false" @bind-Value="@ExpectationPaymentFrequency"></SfTextBox>
                                </div>
                            </div>
                        </div>
                        <div class="row " >
                            <div class="col-md-6">
                                <label for="txtAvailability" title="Disponibilidade do Candidato" class="prop-label">Disponibilidade</label>
                                <SfTextBox ID="txtAvailability" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailability"/>                                    
                            </div>
                            <div class="col-md-6">
                                <label for="txtAvailableInterval" title="Intervalo de disponibilidade do Candidato" class="prop-label">Intervalo de Disponibilidade</label>
                                <SfTextBox Width="200px" ID="txtAvailableInterval" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailabilityInterval"></SfTextBox>&nbsp;<SfTextBox Width="100px" ID="txtAvailableAt" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailableAt"></SfTextBox>                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtReasonForLeaving" title="Razões pelas quais o candidato busca outra oportunidade" class="prop-label">Razões para Sair</label>
                                <SfTextBox Enabled="false" @bind-Value="@InterviewInfoModel.ReasonForLeaving" Multiline="true" CssClass="multiline-field" HtmlAttributes="@minLinesToShow"></SfTextBox>
                            </div>
                        </div>
                    </div>
                    <MatDivider Style="margin-bottom:2%;"/>
                    <div id="tabExperienciaObservacoes">                       
                        <div>
                            <h5>Experiências Profissionais</h5>
                            @foreach (var experience in InterviewInfoModel.Experiences)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <SfTextBox Enabled="false" @bind-Value="@experience.Note" Multiline="true" CssClass="multiline-field custom-height" HtmlAttributes="@minLinesToShow"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="prop-label">@experience.Footer</label>
                                    </div>
                                </div>
                            }
                            <MatDivider Style="margin-top: 2%;margin-bottom: 2%;" />
                            <h5>Observações</h5>
                            @foreach (var note in InterviewInfoModel.Notes)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <SfTextBox Enabled="false" @bind-Value="@note.Note" Multiline="true" CssClass="multiline-field custom-height" HtmlAttributes="@minLinesToShow"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="prop-label">@note.Footer</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Second Column-->
        <div class="col-md-4">
            <div class="mdc-elevation--z2" style="margin-top:7.5%;margin-bottom:5%;margin-right:5%;border-radius:20px;background-color:white;padding:3%;">
                <div class="row" >
                    <div class="col-md-6" style="padding-top:1%;">
                        <h4>Entrevistas</h4>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <MatFAB Id="btnAddInterviewNew" Style="background-color:black;color:white;" Icon="add" Mini="true" OnClick="@AddInterviewNew"></MatFAB>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10" style="text-align:center; margin-top:3%;">
                        <SfButton ID="btnFirstInterview" @ref="btnFirstInterview" OnClick="@(async () => await LoadInterview(1))">
                            <div>@FirstInterviewDate</div>
                            <div style="margin-top:1%;"><b>@FirstInterviewDescription</b></div>
                        </SfButton>
                    </div>
                    <div class="col-md-2" style="margin-top:3%;">
                        <MatFAB Id="btnEditInterview1" Style="background-color:white;color:black;" Icon="edit" Mini="true" OnClick="@(() => EditInterview(1))"></MatFAB>
                    </div>
                </div>
                <div class="row" style="visibility:@VisibleSecondInterview">
                    <div class="col-md-10" style="text-align:center; margin-top:3%;">
                        <SfButton ID="btnSecondInterview" @ref="btnSecondInterview" Disabled="@DisableSecondInterview" OnClick="@(async () => await LoadInterview(2))">
                            <div>@SecondInterviewDate</div>
                            <div style="margin-top:1%;"><b>@SecondInterviewDescription</b></div>
                        </SfButton>
                    </div>
                    <div class="col-md-2" style="margin-top:3%;">
                        <MatFAB Id="btnEditInterview2" Style="background-color:white;color:black;" Icon="edit" Mini="true" OnClick="@(() => EditInterview(2))"></MatFAB>
                    </div>
                </div>
                <div class="row" style="visibility:@VisibleThirdInterview">
                    <div class="col-md-10" style="text-align:center; margin-top:3%;margin-bottom:2%;">
                        <SfButton ID="btnThirdInterview" @ref="btnThirdInterview" Disabled="@DisableThirdInterview" OnClick="@(async() => await LoadInterview(3))">
                            <div>@ThirdInterviewDate</div>
                            <div style="margin-top:1%;"><b>@ThirdInterviewDescription</b></div>
                        </SfButton>
                    </div>
                    <div class="col-md-2" style="margin-top:3%;">
                        <MatFAB Id="btnEditInterview3" Style="background-color:white;color:black;" Icon="edit" Mini="true" OnClick="@(() => EditInterview(3))"></MatFAB>
                    </div>
                </div>                
            </div>
            <div class="mdc-elevation--z2" style="margin-top:7%;margin-bottom:5%;margin-right:5%;border-radius:20px;background-color:white;padding:3%;">
                <div class="row">
                    <div class="col-md-9" style="padding-top:1%;">
                        <h4>Updates</h4>
                    </div>
                    <div class="col-md-3" style="text-align:right;">
                        <MatFAB Id="btnAddInterviewUpdate" Style="background-color:black;color:white;" Icon="add" Mini="true" OnClick="@OpenInterviewUpdateModalInAddMode"></MatFAB>
                    </div>                   
                </div>
                <div id="updates">
                    @foreach (var model in Updates.OrderByDescending(x => x.UpdatedAt).ThenBy(y => y.CreatedAt))
                    {
                        <div id="@String.Format("cxtmenuinterviewupdate-control_{0}", model.Id)" class="e-list-content" @onclick="(e => SelectInterviewUpdate(model))">
                            <div class="row">
                                <div class="col-md-12">
                                    <span>@String.Format("{0}", model.UpdatedAt.HasValue ? model.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm") : model.CreatedAt.Value.ToString("dd/MM/yyyy HH:mm"))</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span>@String.Format("{0}", model.Owner)</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <SfTextBox Enabled="false" @bind-Value="model.Resume" Multiline="true" CssClass="multiline-field" HtmlAttributes="@minLinesToShow"></SfTextBox>
                                </div>
                                @if (_appState.OwnerLogged.Id == model.OwnerId)
                                {
                                    <div class="col-md-2" style="text-align:right;vertical-align:middle;padding-right:0px;" title="Actualizar Update de Entrevista">
                                        <MatFAB Id="btnEditInterviewUpdate" Style="background-color:black;color:white;" Icon="edit" Mini="true" OnClick="@(async () => await OpenInterviewUpdateModalInUpdateMode(model.Id.GetValueOrDefault()))"></MatFAB>
                                    </div>
                                    <div class="col-md-1" style="text-align:right;vertical-align:middle;" title="Remover Update de Entrevista">
                                        <MatFAB Id="btnRemoveInterviewUpdate" Style="background-color:black;color:white;margin-right:2%;" Icon="remove" Mini="true" OnClick="@(async () => await DeleteInterviewUpdate(model.Id.GetValueOrDefault()))"></MatFAB>
                                    </div>
                                }
                            </div>
                        </div>                     
                    }
                </div>
               
            </div>
            <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;margin-right:5%;border-radius:20px;background-color:white;padding:3%;">
                <div class="row">
                    <div class="col-md-10" style="padding-top:1%;">
                        <h4>Docs</h4>
                    </div>
                </div>
                <div id="uploads">
                    @foreach (var model in Uploads.OrderByDescending(x => x.UploadedAt))
                    {
                    <div class="row upload-row" @onclick="@(() => DownloadFile(model.Id, model.FileName))">
                        <div class="col-md-1" style="margin-top:3%;">
                            <MatIcon Style="background-color:transparent;color:#AAB6F9;" Icon="get_app"></MatIcon>
                        </div>
                        <div class="col-md-9" style="margin-top:3%;">
                            <h5>@model.FileName</h5>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<SfSpinner @bind-Visible="@SpinnerVisible" Label="@SpinnerLabel" CssClass="e-spin-overlay" />
<SfDialog ID="interviewUpdateDialog" @bind-Visible="@ShowInterviewUpdatesModal" Target="#app" Width="500px" ShowCloseIcon="false" ZIndex="9998">
    <DialogTemplates>
        <Header>
           @InterviewUpdateHeader
        </Header>
        <Content>
            <div class="row tabs-row-padding" style="margin-bottom:2%;">
                <div class="col-md-10 offset-md-1" title="Informações sobre Actualizações">                  
                    <SfTextBox ID="txtInterviewUpdate" @bind-Value="@InterviewUpdateText" CssClass="field" Multiline=true></SfTextBox>
                </div>
            </div>            
        </Content>
    </DialogTemplates>
    <DialogEvents OnOpen="@ModalInterviewUpdateOpen" OnOverlayClick="@ModalInterviewUpdateClose"></DialogEvents>
    <DialogButtons>
        <DialogButton Content="Salvar" IsPrimary="true" OnClick="@SaveInterviewUpdate"></DialogButton>
        <DialogButton Content="Cancelar" OnClick="@ModalInterviewUpdateClose"></DialogButton>
    </DialogButtons>
</SfDialog>
<GlobalDialog ShowInterviewDialog="ShowInfoDialog" IsErrorDialog="@IsErrorDialog" IsSuccessDialog="@IsSuccessDialog" IsWarningDialog="@IsWarningDialog" GlobalDialogContentText="@InfoDialogContentText" GlobalDialogHeaderText="@InfoDialogHeaderText" CloseCallback="@(()=>HideInfoDialog())"/>
