﻿@page "/"
@inherits LoginModel
@if (!IsLogging)
{
<div style="background-color: #ECEEF9;height: 100%;width:100%;min-height:750px;">
    <div class="row" style="height:100%;">
        <div class="col-md-6" style="background-color:#AAB6F9;"></div>
        <div class="col-md-6">
            <div class="row justify-content-start align-items-center" style="margin-top:15%;">
                <div class="col-12 d-flex align-items-center">
                    <img src="images/logo.svg" Style="margin: auto;width:229px;height:70px;" />
                </div>
            </div>
            @if (ShowLogin)
            {
                <div>
                    <div class="row" style="margin-top:100px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtEmail" @ref="txtEmail" @bind-Value="@AuthModel.Email" OnKeyPress="@(async e => await EnterLogin(e))" Label="Email" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtPassword" @ref="txtPassword" OnKeyPress="@(async e => await EnterLogin(e))" @bind-Value="@AuthModel.Password" OnInput="@(e => AuthModel.Password = e.Value.ToString())" Type="password" Label="Password" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    @if (ShowLoginFailed)
                    {
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-8 offset-md-2" style="color:red;">
                                <p><MatIcon Icon="error_outline" Style="color:red;"></MatIcon> Palavra-passe ou email errados. Tente novamente ou clique em Esqueci-me da palavra-passe para repor.</p>
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-6 offset-6" style="color:#4A4A4B;">
                            <a @onclick="@GoToRecoverPassword" style="cursor:pointer">Esqueci-me da palavra-passe</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:40px;">
                        <div class="col-md-10 offset-md-2">
                            <button id="btnLogin" class="btn" style="background:#889AFD;color:white;margin:auto;width:201px;height:55px;" @onclick="@Login">Login</button>
                        </div>
                    </div>
                </div>
            }
            @if (ShowRecoverPassword)
            {
                <div>
                    <div class="row" style="margin-top:100px;">
                        <div class="col-md-6 offset-md-9">
                            <MatIcon Icon="clear" Style="font-size:30px;cursor:pointer" @onclick="GoToLogin"></MatIcon>
                        </div>
                        <div class="col-md-6 offset-md-2" style="font-weight:bold;color:#000000;">
                            Recuperação Password
                        </div>
                        <div class="col-md-6 offset-md-2" style="color:#969494;">
                            Digita o teu endereço de e-mail para redefinir a tua senha.
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtEmail" @ref="txtRecoverEmail" @bind-Value="@RecoverEmail" Label="Email" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    <div class="row" style="margin-top:40px;">
                        <div class="col-md-10 offset-md-2">
                            <button id="btnSend" class="btn" style="background:#889AFD;color:white;margin:auto;width:201px;height:55px;" @onclick="@(async() => await SendRecoverEmail())">Enviar</button>
                        </div>
                    </div>
                </div>
            }
            @if (ShowRecoverPasswordCode)
            {
                <div>
                    <div class="row" style="margin-top:100px;">
                        <div class="col-md-6 offset-md-9">
                            <MatIcon Icon="clear" Style="font-size:30px;cursor:pointer" @onclick="GoToLogin"></MatIcon>
                        </div>
                        <div class="col-md-6 offset-md-2" style="font-weight:bold;color:#000000;">
                            Recuperação Password
                        </div>
                        <div class="col-md-6 offset-md-2" style="color:#969494;">
                            Digita o codigo que recebeu no seu e-mail.
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtEmail" @ref="txtCode" @bind-Value="@Code" Label="Código" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    @if (ShowVerifyCodeFailed)
                    {
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-8 offset-md-2" style="color:red;">
                                <p><MatIcon Icon="error_outline" Style="color:red;"></MatIcon> Codigo ou email errados. Tente novamente ou contacte um administrador.</p>
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top:40px;">
                        <div class="col-md-10 offset-md-2">
                            <button id="btnSend" class="btn" style="background:#889AFD;color:white;margin:auto;width:201px;height:55px;" @onclick="@(async () => await VerifyCode())">Confirmar</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-8 offset-md-2" style="font-size: 16px;color:#889AFD;">
                            Se existir uma conta do RISE para nome.pessoa@onrising.com, um e-mail foi enviado com mais instruções.
                        </div>
                    </div>
                </div>
            }
            @if (ShowUpdatePassword)
            {
                <div>
                    <div class="row" style="margin-top:100px;">
                        <div class="col-md-6 offset-md-9">
                            <MatIcon Icon="clear" Style="font-size:30px;cursor:pointer" @onclick="GoToLogin"></MatIcon>
                        </div>
                        <div class="col-md-6 offset-md-2" style="font-weight:bold;color:#000000;">
                            Recuperação Password
                        </div>
                        <div class="col-md-6 offset-md-2" style="color:#969494;">
                            Digita o codigo que recebeu no seu e-mail.
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtPassword" @ref="txtPassword" @bind-Value="@RecoverModel.Password" OnInput="@(e => RecoverModel.Password = e.Value.ToString())" Type="password" Label="Password" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-10 offset-md-2">
                            <MatTextField Id="txtPassword" @ref="txtPassword" @bind-Value="@ConfirmPassword" OnInput="@(e => ConfirmPassword = e.Value.ToString())" Type="password" Label="Confirm Password" Style="background-color: #ECEEF9;color:black;width:427px;margin:auto;" OnFocus="@OnFocusHandler"></MatTextField>
                        </div>
                    </div>
                    <div class="row" style="margin-top:40px;">
                        <div class="col-md-10 offset-md-2">
                            <button id="btnSend" class="btn" style="background:#889AFD;color:white;margin:auto;width:201px;height:55px;" @onclick="@(async () => await RecoverPassword())">Alterar</button>
                        </div>
                    </div>
                    @if (ShowPasswordsDontMatch)
                    {
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-8 offset-md-2" style="color:red;">
                                <p><MatIcon Icon="error_outline" Style="color:red;"></MatIcon>@UpdatePasswordMessage</p>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
}
