﻿@inherits ArchiveInterviewDialogModel

<SfDialog @ref="@ModalArchiveInterviewDialog" ID="modalArchiveInterview" Visible="@ShowModal" Width="900px" Height="700px;" 
          ShowCloseIcon="true" IsModal="true" CloseOnEscape="true" CssClass="custom-dialog">
    
    <DialogEvents OnClose="@(()=> Cancel())"></DialogEvents>
    <DialogTemplates>
        <Header>
            <div id="dialogAchiveInterviewHeader">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Informe o motivo</h3>
                    </div>
                </div>
            </div>
        </Header>
        <Content>
            <div class="row" style="margin-top:2%;">
                <div class="col-sm-12">
                    <label for="txtReason" title="Informe o motivo" class="prop-label">Informe o motivo</label>
                    <SfTextBox ID="txtReason" Enabled="true" @bind-Value="@archiveReason" Multiline="true"></SfTextBox>
                </div>
            </div>
            <div class="row" style="margin-top:2%;">
                <div class="col-sm-12">
                    <label for="txtReason" title="warnings" class="txt-danger">@warningError</label>
                    @*<SfTextBox ID="txtReason" Enabled="false" @bind-Value="@warningError" Multiline="true" CssClass="text-danger"></SfTextBox>*@
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton @ref="btnCancel" OnClick="@Cancel" Content="Cancelar" CssClass="dialog-interview-button"></DialogButton>
        <DialogButton @ref="btnSave" OnClick="@(async() => await SaveReason())" Content="Gravar" IsPrimary="true" CssClass="dialog-interview-button"></DialogButton>
    </DialogButtons>
</SfDialog>
