﻿@inherits GlobalDialogModel

<SfDialog ID="globalDialog" @ref="globalDialog" @bind-Visible="@ShowInterviewDialog" Width="500px" IsModal="true" CloseOnEscape="false">
    <DialogTemplates>
        <Header>
            <p>
                @if (IsErrorDialog)
                {<MatIcon Icon="error" Style="color:red;font-size:25px;"></MatIcon>}
                @if (IsWarningDialog)
                {<MatIcon Icon="warning" Style="color:yellow;font-size:25px;"></MatIcon>}
                @if (IsSuccessDialog)
                {<MatIcon Icon="done_all" Style="color:green;font-size:25px;"></MatIcon>}
                @GlobalDialogHeaderText
            </p>
        </Header>
        <Content>@GlobalDialogContentText</Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton @ref="btnGlobalDialogOk" Content="OK" IsPrimary="true" CssClass="dialog-interview-button" OnClick="@HideDialog"></DialogButton>
    </DialogButtons>
</SfDialog>