﻿@inherits InterviewDialogModel

<SfDialog @ref="@ModalInterview" ID="modalInterview" Visible="@ShowModalInterview" Width="900px" Height="700px;" ShowCloseIcon="true" IsModal="true" CloseOnEscape="true" CssClass="custom-dialog">
    <DialogEvents Opened="@RedirectToFirstTab" Closed="@DisableModalInterview"></DialogEvents>
    <DialogTemplates>
        <Header>
            <div id="dialogInterviewHeader">
                <div class="row">
                    <div class="col-md-7" style="margin-left:0px;padding-left:0px;margin-top:0.2%;">
                        <a class="profileLink" @onclick="@(e => GoToInterview(e))"><h4 style="font-size:24px">@InterviewInfoModel.Name</h4></a>
                    </div>
                    <div class="col-md-5" style="text-align:right;margin-top:0.3%;">
                        <h4 style="font-size:14px;"><span style="height: 25px; width: 25px; background-color: @CandidateTypeColor; border-radius: 50%; display: inline-block;" data-toggle="tooltip" title="@InterviewInfoModel.CandidateType"></span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-size:18px">@InterviewInfoModel.JobTitle | @InterviewInfoModel.CandidateAvailability</span>
                    </div>
                </div>
            </div>
        </Header>

        <Content>
            <MatDivider />
            <div id="dialogInterviewContent" style="width:100%;margin:1%;height:375px;">
                <SfTab ID="tabs" @ref="TabsInfoInterview">
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Dados Pessoais"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top:2%;">
                                    <div class="col-md-6">
                                        <label for="txtEmail" title="Email do Candidato" class="prop-label">Email</label>
                                        <SfTextBox ID="txtEmail" Enabled="false" @bind-Value="@InterviewInfoModel.Email"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtCitizenship" title="Nacionalidade do Candidato" class="prop-label">Nacionalidade</label>
                                        <SfTextBox ID="txtCitizendship" Enabled="false" @bind-Value="@InterviewInfoModel.Citizenship"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtBornDate" title="Aniversário do Candidato" class="prop-label">Data de Nascimento</label>
                                        <SfTextBox ID="txtBornDate" Enabled="false" @bind-Value="@InterviewInfoModel.BornDate"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtMaritalStatus" title="Estado Civil do Candidato" class="prop-label">Estado Civil</label>
                                        <SfTextBox ID="txtMaritalStatus" Enabled="false" @bind-Value="@InterviewInfoModel.MaritalStatus"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtDependentsAbove7" title="Número de Dependentes com ou maiores que 7 anos" class="prop-label">@String.Format("N° de Dependentes")</label>
                                        <SfTextBox ID="txtDependentsAbove7" Enabled="false" @bind-Value="@InterviewInfoModel.DependentsAbove7"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtDependentsUnder7" title="Número de Dependentes menores que 7 anos" class="prop-label">@String.Format("N° de Dependentes < 7")</label>
                                        <SfTextBox ID="txtDependentsUnder7" Enabled="false" @bind-Value="@InterviewInfoModel.DependentsUnder7"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtEmail" title="Contato do Candidato" class="prop-label">Telefone</label>
                                        <SfTextBox ID="txtPhoneNumber" Enabled="false" @bind-Value="@InterviewInfoModel.PhoneNumber"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtLocation" title="Localização atual do Candidato" class="prop-label">Localização</label>
                                        <SfTextBox ID="txtLocation" Enabled="false" @bind-Value="@InterviewInfoModel.Location"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtYearsOfExperience" title="Anos de Experiência Candidato" class="prop-label">Anos de Experiência</label>
                                        <SfTextBox ID="txtYearsOfExperience" Enabled="false" @bind-Value="@InterviewInfoModel.YearsOfExperience"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtLinkedinProfile" title="Perfil do Linkedin do Candidato" class="prop-label">Perfil do LinkedIn</label>
                                        <SfTextBox ID="txtLinkedinProfile" Enabled="false" @bind-Value="@InterviewInfoModel.LinkedinProfile"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Formação"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top:2%;">
                                    <div class="col-md-6">
                                        <label for="txtLiteraryAbility" title="Formação do Candidato" class="prop-label">Habilitações Académicas</label>
                                        <SfTextBox ID="txtLiteraryAbility" Enabled="false" @bind-Value="@InterviewInfoModel.LiteraryAbility"></SfTextBox>
                                    </div>
                                    <div class="col-md-6" style="color:black;">
                                        <label for="txtCertifications" title="Certificações do Candidato" class="prop-label">Certificações</label>
                                        <SfTextBox Enabled="false" @bind-Value="@InterviewInfoModel.Certifications" Multiline="true" CssClass="multiline-field"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtCollege" title="Escola do Candidato" class="prop-label">Faculdade</label>
                                        <SfTextBox ID="txtCollege" Enabled="false" @bind-Value="@InterviewInfoModel.College"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtLanguages" title="Idiomas falados pelo Candidato" class="prop-label">Línguas</label>
                                        <SfTextBox ID="txtLanguages" Enabled="false" @bind-Value="@InterviewInfoModel.Languages"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Tech Skills"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top:2%; padding-left:2%;">
                                    <SfChip EnableDelete="false">
                                        <ChipItems>
                                            @foreach (var techSkill in InterviewInfoModel.TechSkills)
                                            {
                                                <ChipItem Text="@techSkill.Description"></ChipItem>
                                            }
                                        </ChipItems>
                                    </SfChip>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Situação Profissional"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top:2%;">
                                    <div class="col-md-6">
                                        <label for="txtContractType" title="Tipo de Contrato oferecido na entrevista" class="prop-label">Tipo de Contrato</label>
                                        <SfTextBox ID="txtContractType" Enabled="false" @bind-Value="@InterviewInfoModel.ContractType"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtCurrentSalary" title="Salário atual do Candidado" class="prop-label">Salário Actual</label>
                                        <SfTextBox ID="txtCurrentSalary" Enabled="false" @bind-Value="@InterviewInfoModel.CurrentSalary"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtOngoingProcess" title="Processos em curso pelo Candidato" class="prop-label">Processos em Curso</label>
                                        <SfTextBox ID="txtOngoingProcess" Enabled="false" @bind-Value="@InterviewInfoModel.OngoingProcesses" Multiline="true" CssClass="multiline-field"></SfTextBox>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtExpectedSalary" title="Salário pretendido pelo Candidado" class="prop-label">Salário Esperado</label>
                                        <SfTextBox ID="txtExpectedSalary" Enabled="false" @bind-Value="@InterviewInfoModel.ExpectedSalary"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <label for="txtAvailability" title="Disponibilidade do Candidato" class="prop-label">Disponibilidade</label>
                                        <SfTextBox ID="txtAvailability" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailability" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="txtAvailableInterval" title="Intervalo de disponibilidade do Candidato" class="prop-label">Intervalo de Disponibilidade</label>
                                        <SfTextBox ID="txtAvailableInterval" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailabilityInterval"></SfTextBox>&nbsp;<SfTextBox ID="txtAvailableAt" Enabled="false" @bind-Value="@InterviewInfoModel.CandidateAvailableAt"></SfTextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtReasonForLeaving" title="Razões pelas quais o candidato busca outra oportunidade" class="prop-label">Razões para Sair</label>
                                        <SfTextBox Enabled="false" @bind-Value="@InterviewInfoModel.ReasonForLeaving" Multiline="true" CssClass="multiline-field"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Exp. Profissional e obs."></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div style="margin-top:2%;">
                                    @if (InterviewInfoModel.Experiences.Count < 1 && InterviewInfoModel.Notes.Count < 1)
                                    {
                                        <h5>Nenhuma informação registada</h5>
                                    }
                                    @if (InterviewInfoModel.Experiences.Count >= 1)
                                    {
                                        <h5>Experiências Profissionais</h5>
                                    }
                                    @foreach (var experience in InterviewInfoModel.Experiences)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <SfTextBox Enabled="false" @bind-Value="@experience.Note" Multiline="true" CssClass="multiline-field custom-height"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="prop-label">@experience.Footer</label>
                                            </div>
                                        </div>
                                    }
                                    <MatDivider Style="margin-top: 2%;margin-bottom: 2%;" />
                                    @if (InterviewInfoModel.Notes.Count >= 1)
                                    {
                                        <h5>Observações</h5>
                                    }
                                    @foreach (var note in InterviewInfoModel.Notes)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <SfTextBox Enabled="false" @bind-Value="@note.Note" Multiline="true" CssClass="multiline-field custom-height"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="prop-label">@note.Footer</label>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfSpinner @ref="@Spinner" Target="#page" Label="A Carregar..." CssClass="custom-spinner" />
