﻿@inherits RadioButtonQuestionRangeModel
@using WebApp.Models.Components

<div style="width:100%;margin-top:5%;">
    @foreach (Question question in Questions)
    {
        if (question.Area != LastQuestionArea)
        {
            <div class="col-md-12 offset-md-2 no-padding">
                <h5>@question.Area</h5>
            </div>
        }
        <div class="row tabs-row-padding">
            <div class="col-md-9 offset-md-2 no-padding">
                <label for="@($"{question.Area.RemoveSpecialCharacters()}Question{question.Order}")" class="prop-label">@question.Description</label>
            </div>
        </div>
        <div class="row tabs-row-padding">
            <div class="col-md-12 offset-md-2 no-padding">
                <div style="display:inline-flex">
                    @for (int i = 1; i <= question.MaxAnswerValue; i++)
                    {
                        <div style="display:flex;flex-direction:column">
                            <SfRadioButton CssClass="naifasRadionButton" Name="@($"{question.Area.RemoveSpecialCharacters()}Question{question.Order}")" Value="@i.ToString()" @bind-Checked="@question.ValueChecked"></SfRadioButton>
                            <label class="naifasRadioButtonLabel">@i</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        LastQuestionArea = question.Area;
    }
</div>   
