﻿@page "/interview/{InterviewId}"
@page "/interview/new"
@inherits NewModel
@using WebApp.Components

<div style="height: 100%;">
    <div class="row" style="margin-top:3%;">
        <div class="col-md-7" style="text-align:right;">
            <h1>Nova entrevista</h1>
        </div>
        <div class="col-md-5" style="text-align:center;">

            <MatIcon Icon="clear" Style="font-size:40px;cursor:pointer" @onclick="async () => await AbortCreation()"></MatIcon>
        </div>
    </div>
    <div class="row" style="height: auto;">
        <!--First Column-->
        <div class="col-md-6 offset-md-1">
            <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;margin-left:5%;margin-right:2%;border-radius:20px;background-color:white;height:auto;">
                <div style="height: 100%; padding:2%;">
                    <SfTab ID="tabs" @ref="tabsInterview">
                        <TabEvents Created="TabCreate"></TabEvents>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Dados Pessoais"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div style="width:100%;margin-top:5%;">
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Nome do Candidato">
                                                <label for="txtName" class="prop-label">Nome</label><MatIcon title="Obrigatório para Salvar a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfTextBox ID="txtName" @bind-Value="@Candidate.Name" Placeholder="ex: Miguel Silva" CssClass="e-outline field"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Email do Candidato">
                                                <label for="txtEmail" class="prop-label">Email</label><MatIcon title="Obrigatório para Salvar a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfTextBox ID="txtEmail" @bind-Value="@Candidate.Email" Placeholder="ex: candidato@onrising.com" CssClass="e-outline field" @onfocusout="SearchCandidate"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Nacionalidade do Candidato">
                                                <label for="txtCitizenship" class="prop-label">Nacionalidade</label>
                                                <SfTextBox ID="txtCitizenship" @bind-Value="@Candidate.Citizenship" Placeholder="ex: Português" CssClass="e-outline field"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Data de Nascimento do Candidato (DD/MM/YYYY)">
                                                <label for="dtpBirthdate" class="prop-label">Data de nascimento</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDatePicker ID="dtpBornDate" @ref="dtpBornDate" TValue="DateTime?" @bind-Value="@Candidate.BornDate" Placeholder="DD/MM/AAAA" CssClass="e-outline field" Format="dd/MM/yyyy"></SfDatePicker>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-10 offset-md-1">
                                                <MatDivider></MatDivider>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Disponibilidade do candidato para projeto">
                                                <label for="ddlLocation" class="prop-label">Localização</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDropDownList ID="ddlLocation" @ref="ddlLocation" Placeholder="Selecione..." @bind-Value="@SelectedLocation" CssClass="e-outline field" DataSource="@LocationOptions" AllowFiltering="true" ShowClearButton="true" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 offset-md-2" title="Nº de Telefone do Candidato" style="padding-left:0.5%;">
                                                <label for="txtPhoneNumber" class="prop-label">Telemóvel</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfTextBox ID="txtPhoneNumber" @bind-Value="@Candidate.PhoneNumber" Placeholder="ex: +351999999999" CssClass="e-outline field"></SfTextBox>
                                            </div>
                                            <div class="col-md-4" style="margin-top:0.4%;padding-right:0.5%;">
                                                <label for="ddlMaritalStatus" class="prop-label">Estado civil</label>
                                                <SfDropDownList ID="ddlMaritalStatus" @ref="ddlMaritalStatus" Placeholder="Selecione..." @bind-Value="@SelectedMaritalStatus" CssClass="e-outline field" DataSource="@MaritalStatusesOptions" />
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-4 offset-md-2" style="padding-left:0px;" title="Dependentes do Candidato com idade superior a 7 anos">
                                                <label for="nmpDependentsAboveSeven" class="prop-label">Nº dependentes</label>
                                                <SfNumericTextBox ID="nmpDependentsAboveSeven" @bind-Value="@Candidate.DependentsAbove7" TValue="int?" Format="###.##" Min="0" Step="1" CssClass="e-outline field"></SfNumericTextBox>
                                            </div>
                                            <div class="col-md-4" style="padding-right:0px;" title="Dependentes do Candidato com idade inferior a 7 anos">
                                                <label for="nmpDependentsUnderSeven" class="prop-label">@String.Format("Nº dependentes (< 7 anos )")</label>
                                                <SfNumericTextBox ID="nmpDependentsUnderSeven" @bind-Value="@Candidate.DependentsUnder7" TValue="int?" Format="###.##" Min="0" Step="1" CssClass="e-outline field"></SfNumericTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-10 offset-md-1">
                                                <MatDivider></MatDivider>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Link de Perfil do Candidato no LinkedIn">
                                                <label for="txtName" class="prop-label">Perfil LinkedIn</label>
                                                <SfTextBox ID="txtLinkedinProfile" @bind-Value="@Candidate.LinkedInProfileLink" Placeholder="ex: http://linkedin.com/candidato" CssClass="e-outline field"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-10 offset-md-1">
                                                <MatDivider></MatDivider>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding">
                                                <SfUploader ID="upPersonalFiles" @ref="upPersonalFiles" CssClass="field" Multiple="true" AutoUpload="true"  AllowedExtensions=".pdf,.jpg,.png,.html,.doc,.docx,.xls,.xlsx" Locale="pt-PT">                                                   
                                                    <UploaderEvents OnRemove="@RemoveUpload" ValueChange="@UploadFile"></UploaderEvents>
                                                </SfUploader>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Formação"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div style="width: 100%;margin-top: 5%;">
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Formação do Candidato">
                                                <label for="ddlLiteraryAbilities" class="prop-label">Habilitações literárias</label>
                                                <SfDropDownList ID="ddlLiteraryAbilities" @ref="ddlLiteraryAbilities" Placeholder="Selecione..." @bind-Value="@SelectedLiteraryAbility" CssClass="e-outline field" DataSource="@LiteraryAbilitiesOptions" AllowFiltering="true" ShowClearButton="true" />
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Formação do Candidato">
                                                <label for="txtCollege" class="prop-label">Faculdade</label>
                                                <SfTextBox ID="txtCollege" @bind-Value="@Candidate.College" Placeholder="ex: Universidade do Porto" CssClass="e-outline field"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" style="margin-bottom:2%;">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Formação Especializada do Candidato">
                                                <label for="txtCertifications" class="prop-label">Certificações</label>
                                                <SfTextBox ID="txtCertifications" @bind-Value="@Candidate.Certifications" Placeholder="ex: Especialização em Banco de Dados Oracle - 2017 - 2020" CssClass="field" Multiline=true></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Job Role pretendido">
                                            <div class="col-md-8 offset-md-2 no-padding">
                                                <label for="ddlJobRoles" class="prop-label">Job Role</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDropDownList ID="ddlJobRoles" @ref="ddlJobRoles" Placeholder="Selecione..." @bind-Value="@SelectedJobRole" CssClass="e-outline field" DataSource="@JobRolesOptions" AllowFiltering="true" ShowClearButton="true" />
                                            </div>
                                            @*<div class="col-md-2" title="Adicionar Novo JobRole" style="padding-left:2.5%;margin-top:4%;margin-right:1%;">
                                                    <MatFAB Id="btnAddJobRole" Style="background-color:black;color:white;" Icon="@AddJobRoleIcon" Mini="true" OnClick="@SetJobRole"></MatFAB>
                                                </div>*@
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div clss="col-md-8 offset-md-2">
                                                @if (IsAddingJobRole)
                                                {
                                                    <div class="row" style="margin-left:37%;">
                                                        <div class="col-md-10">
                                                            <SfTextBox ID="txtJobRoleToAdd" @bind-Value="@JobRoleToAdd" Placeholder="Novo JobRole" CssClass="e-outline field" ShowClearButton="true"></SfTextBox>
                                                        </div>
                                                        <div class="col-md-1" style="padding-left:1%;margin-top:2%;">
                                                            <SfButton Type="button" ID="btnCreateJobRole" OnClick="@CreateJobRole">Adicionar</SfButton>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-4 offset-md-2" style="padding-left:0px;" title="Anos de Experiência do Candidato">
                                                <label for="ddlExperience" class="prop-label">Anos de Experiência</label>
                                                <SfDropDownList ID="ddlExperience" @ref="ddlCandidateExperience" Placeholder="Selecione..." TValue="string" TItem="string" @bind-Value="@SelectedCandidateExperience" CssClass="e-outline field" DataSource="@CandidateExperienceOptions" AllowFiltering="true" ShowClearButton="true" />
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Línguas em que o candidato é proficiente">
                                                <label for="ddlLanguages" class="prop-label">Línguas</label>
                                                <SfDropDownList ID="ddlLanguages" @ref="ddlLanguages" Placeholder="Selecione..." TValue="string" TItem="string" CssClass="e-outline field" DataSource="@LanguagesOptions" AllowFiltering="true" ShowClearButton="true">
                                                    <DropDownListEvents TItem="string" TValue="string" ValueChange="AddCandidateLanguage"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Idiomas cujo candidato possui domínio">
                                            <div class="col-md-8 offset-md-2 no-padding">
                                                <SfChip @ref="clsLanguages" Selection="Syncfusion.Blazor.Buttons.SelectionType.None" EnableDelete="true">
                                                    <ChipEvents Created="LoadCandidateLanguages" OnDelete="RemoveCandidateLanguage"></ChipEvents>
                                                    <ChipItems>
                                                        <ChipItem CssClass="custom-empty-chip"></ChipItem>
                                                    </ChipItems>
                                                </SfChip>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Tech Skills"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div style="width:100%;margin-top:5%;">
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Categorias de Skills Tecnológicos do Candidato">
                                                <label for="ddlTechSkillCategory" class="prop-label">Categorias</label>
                                                <SfDropDownList @ref="ddlTechSkillCategory" TItem="string" TValue="string" Placeholder="Selecione..." CssClass="e-outline field" DataSource="@TechSkillsCategoriesOptions" AllowFiltering="true" ShowClearButton="true">
                                                    <DropDownListEvents TItem="string" TValue="string" Created="LoadCandidateTechSkillsCategories" ValueChange="ChangeCategory"></DropDownListEvents>
                                                </SfDropDownList>

                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            @if (EnableTechSkillDropDown)
                                            {
                                                <div class="col-md-8 offset-md-2 no-padding" style="padding-left:0px;" title="Tecnologias com as quais os Candidatos tem conhecimento e/ou afinidade">
                                                    <label for="ddlTechSkill" class="prop-label">Tecnologias</label>
                                                    <SfDropDownList @ref="ddlTechSkill" Enabled="@EnableTechSkillDropDown" TValue="string" TItem="string" Placeholder="Selecione..." CssClass="e-outline field" DataSource="@TechSkillsOptions" AllowFiltering="true" ShowClearButton="true">
                                                        <DropDownListEvents TItem="string" TValue="string" ValueChange="AddCandidateTechSkill"></DropDownListEvents>
                                                    </SfDropDownList>
                                                </div>
                                                @*<div class="col-md-2" title="Adicionar Nova TechSkill" style="margin-top:3.4%;">
                                                        <MatFAB Id="btnAddTechSkill" Style="background-color:black;color:white;" Icon="@AddTechSkillIcon" Mini="true" OnClick="@SetTechSkill"></MatFAB>
                                                    </div>*@
                                            }
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div clss="col-md-8 offset-md-2 no-padding">
                                                @if (IsAddingTechSkill)
                                                {
                                                    <div class="row" style="margin-left:37%;">
                                                        <div class="col-md-10">
                                                            <SfTextBox ID="txtTechSkillToAdd" @bind-Value="@TechSkillToAdd" Placeholder="Nova TechSkill" CssClass="e-outline field" ShowClearButton="true"></SfTextBox>
                                                        </div>
                                                        <div class="col-md-1" style="padding-left:1%;margin-top:2%;">
                                                            <SfButton Type="button" ID="btnCreateTechSkill" OnClick="@CreateTechSkill">Adicionar</SfButton>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Tecnologias com as quais os Candidatos tem conhecimento e/ou afinidade">
                                            <div class="col-md-8 offset-md-2 no-padding">
                                                <SfChip @ref="clsTechSkills" Selection="Syncfusion.Blazor.Buttons.SelectionType.None" EnableDelete="true">
                                                    <ChipEvents Created="LoadCandidateTechSkills" OnDelete="RemoveCandidateTechSkill"></ChipEvents>
                                                    <ChipItems>
                                                        <ChipItem CssClass="custom-empty-chip"></ChipItem>
                                                    </ChipItems>
                                                </SfChip>
                                            </div>
                                        </div>

                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Notas"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div style="width:100%;margin-top:5%;">
                                        <div class="row tabs-row-padding">
                                            <div title="Tipo de Contrato atual" class="col-md-8 offset-md-2 no-padding">
                                                <label for="ddlContractType" class="prop-label">Tipo de Contrato</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDropDownList ID="ddlContractType" @ref="ddlContractType" Placeholder="Selecione..." @bind-Value="@SelectedContractType" CssClass="e-outline field" DataSource="@ContractTypesOptions" />
                                            </div>
                                        </div>                                       
                                        <div class="row tabs-row-padding" style="margin-bottom:2%;">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Processos seletivos que o candidato está participando atualmente">
                                                <label for="txtOngoingProcesses" class="prop-label">Processos em Curso</label>
                                                <SfTextBox ID="txtOngoingProcesses" @bind-Value="@Interview.OngoingProcesses" Placeholder="ex: Processo seletivo na empresa Tesla" CssClass="field" Multiline=true></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" style="margin-bottom:2%;">
                                            <div class="col-md-8 offset-md-2 no-padding" title="Razões pelas quais o candidato busca outra oportunidade">
                                                <label for="txtReasonForLeaving" class="prop-label">Razões para Sair</label>
                                                <SfTextBox ID="txtReasonForLeaving" @bind-Value="@Interview.ReasonForLeaving" Placeholder="ex: Vontade de aprender novas tecnologias" CssClass="field" Multiline=true></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-4 offset-md-2 no-padding" title="Salário Actual do Candidato">
                                                <label for="nmpCurrentSalary" class="prop-label">Situação Actual</label>
                                                <SfNumericTextBox ID="nmpCurrentSalary" @bind-Value="@Interview.CurrentSalary" TValue="decimal?" Format="#####.##" Min="0" Step="500" CssClass="e-outline field" Placeholder="ex: 2000,00"></SfNumericTextBox>
                                            </div>
                                            <div class="col-md-5 rb-aligned">
                                                @if (Domain.Entities.Constants.ContractTypes.CT_0001 == SelectedContractType)
                                                {
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="Current_PF_0001" class="col-8">
                                                                @Domain.Entities.Constants.PaymentFrequency.PF_0001
                                                            </label>
                                                            <input class="salaryRadioButtons" id="Current_PF_0001" type="radio" name="Current_PF" checked="@(TypeCurrentFrequencyPaymentDaily == true)"
                                                                   @onchange="@(() => SetCurrentPaymentType(@Domain.Entities.Constants.PaymentFrequency.PF_0001))" />
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="Current_PF_0002" class="col-8">
                                                                @Domain.Entities.Constants.PaymentFrequency.PF_0002
                                                            </label>
                                                            <input class="salaryRadioButtons" type="radio" id="Current_PF_0002" name="Current_PF" checked="@(TypeCurrentFrequencyPaymentMonthly == true)"
                                                                   @onchange="@(() => SetCurrentPaymentType(@Domain.Entities.Constants.PaymentFrequency.PF_0002))" />
                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="CurrentPaymentDayly" class="col-8">
                                                                Líquido
                                                            </label>
                                                            <input class="salaryRadioButtons" id="CurrentPaymentDayly" type="radio" name="current" checked="@(TypeCurrentSalaryLiquido == true)" @onchange="@(() => CurrentSalaryType("liquido"))" />
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="CurrentPaymentMonthly" class="col-8">
                                                                Bruto
                                                            </label>
                                                            <input class="salaryRadioButtons" id="CurrentPaymentMonthly" type="radio" name="current" checked="@(TypeCurrentSalaryBruto == true)" @onchange="@(() => CurrentSalaryType("bruto"))" />
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-4 offset-md-2 no-padding" title="Salário Esperado pelo Candidato">
                                                <label for="nmpExpectedSalary" class="prop-label">Expectativa salarial</label>
                                                <SfNumericTextBox ID="nmpExpectedSalary" @bind-Value="@Interview.ExpectationSalary" TValue="decimal?" Format="#####.##" Min="0" Step="500" CssClass="e-outline field" Placeholder="ex: 3000,00"></SfNumericTextBox>
                                            </div>
                                            <div class="col-sm-5 rb-aligned">                                                
                                                @if (Domain.Entities.Constants.ContractTypes.CT_0001 == SelectedContractType)
                                                {
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <label for="Expect_PF_0001" class="col-8">
                                                                @Domain.Entities.Constants.PaymentFrequency.PF_0001
                                                            </label>
                                                            <input class="salaryRadioButtons" id="Expect_PF_0001" type="radio" name="Expect_PF" checked="@(TypeExpectFrequencyPaymentDaily)"
                                                                   @onchange="@(() => SetExpectPaymentType(@Domain.Entities.Constants.PaymentFrequency.PF_0001))" />
                                                        </div>
                                                        <div class="col-4">
                                                            <label for="Expect_PF_0002" class="col-8">
                                                                @Domain.Entities.Constants.PaymentFrequency.PF_0002
                                                            </label>
                                                            <input class="salaryRadioButtons" type="radio" id="Expect_PF_0002" name="Expect_PF" checked="@(TypeExpectFrequencyPaymentMonthly)"
                                                                   @onchange="@(() => SetExpectPaymentType(@Domain.Entities.Constants.PaymentFrequency.PF_0002))" />
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                <div class="col-4">
                                                    <label for="rb_expect_net_payment" class="col-8">
                                                        Líquido
                                                    </label>
                                                    <input class="salaryRadioButtons" type="radio" id="rb_expect_net_payment" name="expected" checked="@(TypeExpectedSalaryLiquido == true)"
                                                           @onchange="@(() => ExpectSalaryType("liquido"))" />
                                                </div>

                                                <div class="col-4">
                                                    <label for="rb_expect_gross_payment" class="col-8">
                                                        Bruto
                                                    </label>
                                                    <input class="salaryRadioButtons" id="rb_expect_gross_payment" type="radio" name="expected" checked="@(TypeExpectedSalaryBruto == true)"
                                                           @onchange="@(() => ExpectSalaryType("bruto"))" />
                                                </div>

                                            </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding">
                                            <div class="col-md-8 offset-md-2">
                                                <MatDivider></MatDivider>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Disponibilidade do Candidato">
                                            <div class="col-md-4 offset-md-2 no-padding">
                                                <label for="ddlAvailability" class="prop-label">Disponibilidade</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDropDownList ID="ddlAvailability" @ref="ddlAvailability" Placeholder="Selecione..." TValue="string" TItem="string" CssClass="e-outline field" DataSource="@CandidateAvailabilitiesOptions" @bind-Value="@SelectedAvailability">
                                                    <DropDownListEvents TItem="string" TValue="string" ValueChange="ChangeAvailability"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>
                                            <div class="col-md-4" title="Intervalo de disponibilidade do Candidato" style="margin-top:0.6%;padding-right:0px;">
                                                <label for="ddlInterval" class="prop-label">Intervalo de Disponibilidade</label>
                                                <SfDropDownList ID="ddlInterval" Enabled="@IsCandidateAvailable" @ref="ddlInterval" Placeholder="Selecione..." TValue="string" TItem="string" CssClass="e-outline field" DataSource="@CandidateIntervalsOptions" @bind-Value="@SelectedInterval">
                                                    <DropDownListEvents TItem="string" TValue="string" ValueChange="ChangeInterval"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Data Disponibilidade do Candidato">
                                            <div class="col-md-4 offset-md-2 no-padding" title="Data aproximada de quando o candidato estaria disponível (DD/MM/YYYY)">
                                                <label for="dtpAvailableAt" class="prop-label">Disponível em</label>
                                                <SfDatePicker ID="dtpAvailableAt" Enabled="@CustomInterval" @ref="dtpAvailableAt" TValue="DateTime?" @bind-Value="@Candidate.AvailableAt" Placeholder="DD/MM/AAAA" CssClass="e-outline field" Format="dd/MM/yyyy" Locale="pt-PT"></SfDatePicker>
                                            </div>
                                        </div>
                                        <div class="row tabs-row-padding" title="Tipo do Candidato">
                                            <div class="col-md-4 offset-md-2 no-padding" style="margin-top: 0.6%;">
                                                <label for="ddlCandidateType" class="prop-label">Tipo de Candidato</label>
                                                <SfDropDownList ID="ddlCandidateType" @ref="ddlCandidateType" Placeholder="Selecione..." @bind-Value="@SelectedCandidateType" CssClass="e-outline field" DataSource="@CandidateTypesOptions" />
                                            </div>
                                            <div class="col-md-4" title="Mobilidade do Candidato" style="padding-right:0px;">
                                                <label for="ddlMobility" class="prop-label">Mobilidade Geográfica</label><MatIcon title="Obrigatório para Concluir a Entrevista" Icon="help_outline" Style="color:#889AFD; font-size:15px; margin:1%;" />
                                                <SfDropDownList ID="ddlMobility" @ref="ddlMobility" Placeholder="Selecione..." TValue="string" TItem="string" CssClass="e-outline field" DataSource="@CandidateMobilityOptions" @bind-Value="@SelectedMobility">
                                                    <DropDownListEvents TItem="string" TValue="string" ValueChange="ChangeMobility"></DropDownListEvents>
                                                </SfDropDownList>
                                            </div>
                                        </div>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Avaliação Motivacional"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <RadioButtonQuestionRange Questions="@NaifasQuestions" />
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                    <div class="row" style="margin-top:3%;">
                        <div class="col-md-3" title="Anterior">
                            <MatIcon Class="nav-arrows" Icon="arrow_back" @onclick="@Previous"></MatIcon>
                        </div>
                        <div class="col-md-3 offset-md-6" style="text-align:right;" title="Próximo">
                            <MatIcon Class="nav-arrows" Icon="arrow_forward" @onclick="@Next"></MatIcon>
                        </div>
                    </div>
                </div>
            </div>
            <!--Action Buttons-->
            <div class="row" style="margin-left:5%;margin-bottom:5%;">
                <div title="Guardar entrevista com dados completos">
                    <SfButton ID="btnCompleteInterview" @ref="btnCompleteInterview" OnClick="@(async () => await CompleteInterview())">Concluir entrevista</SfButton>
                </div>
                <div title="Guardar entrevista como rascunho, para completar mais tarde" style="margin-left: 2%">
                    <SfButton ID="btnSaveInterviewAsDraft" @ref="btnSaveInterviewAsDraft" OnClick="@(async () => await SaveInterviewDraft())">Guardar rascunho</SfButton>
                </div>
            </div>
        </div>
        <!--Second Column-->
        <div class="col-md-4">
            <div class="mdc-elevation--z2" style="margin-top:7.5%;margin-bottom:5%;margin-right:5%;border-radius:20px;background-color:white;padding:30px 20px 30px 20px">
                <div class="row" title="Soft Skills e notas relevantes">
                    <div class="col-md-11 offset-md-1" style="padding:0px;">
                        <h5 class="notes-title" style="margin-top:3%;margin-bottom:0px;">Observações</h5>
                    </div>
                </div>
                <div class="row notes-row" style="margin-top:0px;" title="Soft Skills e notas relevantes">
                    <div class="col-md-12">
                        <SfTextBox ID="txtObs" CssClass="field" Multiline=true @bind-Value="@Interview.Notes"></SfTextBox>
                    </div>
                </div>
                <div class="row" title="Principais experiências em projetos e/ou tecnologias">
                    <div class="col-md-11 offset-md-1" style="padding:0px;">
                        <h5 class="notes-title" style="margin:0px;">Experiência Profissional</h5>
                    </div>
                </div>
                <div class="row notes-row" style="margin-top:0px;" title="Principais experiências em projetos e/ou tecnologias">
                    <div class="col-md-12">
                        <SfTextBox ID="txtProfessionalExperience" CssClass="field" Multiline=true @bind-Value="@Interview.ProfessionalExperience" Placeholder="ex: "></SfTextBox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="opacity:0;">
            <SfChart @ref="CompetenceGraph" AllowExport="true" EnableExport="true">
                <ChartEvents OnExportComplete="async(e) => await SaveChart(e)"></ChartEvents>
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                <ChartPrimaryYAxis Coefficient="200" Interval="1" StartFromZero="true" Minimum="0" Maximum="10" ValueType="Syncfusion.Blazor.Charts.ValueType.Double"></ChartPrimaryYAxis>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@GraphDataSource" Opacity="0.7" XName="XValue" YName="YValue" Type="@SeriesType" DrawType="ChartDrawType.Area" Fill="#f0b4ed">
                        <ChartSeriesBorder Color="transparent" Width="0"></ChartSeriesBorder>
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>
    </div>
</div>
<SfSpinner @bind-Visible="@SpinnerVisible" Label="@SpinnerLabel" CssClass="e-spin-overlay" />
<GlobalDialog GlobalDialogContentText="@InterviewDialogContentText" GlobalDialogHeaderText="@InterviewDialogHeaderText" 
              IsErrorDialog="@IsErrorDialog" IsSuccessDialog="@IsSuccessDialog"
              CloseCallback="@(()=>HideDialog())"
              IsWarningDialog="@IsWarningDialog" ShowInterviewDialog="@ShowInterviewDialog" />
<SfDialog ID="candidateDialog" @ref="candidateDialog" @bind-Visible="@ShowCandidateDialog" Width="500px" ShowCloseIcon="false" IsModal="true">
    <DialogTemplates>
        <Header>
            <MatIcon Icon="help" Style="color:blue;"></MatIcon>
            Referência de Candidato Encontrada!
        </Header>
        <Content>Deseja carregar os dados salvos do Candidato para esta Entrevista?</Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton @ref="btnCandidateDialogYes" Content="Sim" IsPrimary="true" CssClass="dialog-interview-button" OnClick="@LoadCandidateByReference"></DialogButton>
        <DialogButton @ref="btnCandidateDialogNo" Content="Não" IsPrimary="true" CssClass="dialog-interview-button" OnClick="@HideCandidateDialog"></DialogButton>
    </DialogButtons>
</SfDialog>

