﻿@page "/interview/quick_search"
@inherits QuickSearchModel

<div id="page">
    <div class="row" style="margin-top:5%;">
        <div class="col-md-7 offset-md-3" style="text-align:center;">
            <SfAutoComplete ID="txtSearchBox" @ref="txtSearchBox" Value="@SearchTextField" TValue="string" TItem="string" DataSource="@SearchResultOptions" Placeholder="Pesquise por Nome, Email, Job Role..."  Autofill="false" ShowClearButton="false" AllowFiltering="true">
                <AutoCompleteEvents TItem="string" TValue="string" Filtering="@GetSuggestions" OnValueSelect="@SearchByTerm"></AutoCompleteEvents>
                <AutoCompleteTemplates TItem="string">
                    <NoRecordsTemplate>
                        <span class='norecord'>Sem Resultados</span>
                    </NoRecordsTemplate>
                </AutoCompleteTemplates>
            </SfAutoComplete>
        </div>
        <div class="col-md-1" style="text-align:center;">
            <MatIcon Icon="clear" Style="font-size:40px;cursor:pointer" @onclick="AbortSearch"></MatIcon>
        </div>
    </div>
    <div id="searchResults">
        @if (ShowSearchResults)
        {
            if (Interviews.Count > 0)
            {
                <div class="container" style="max-width:1600px;">
                    <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;border-radius:20px;background-color:white;">
                        <div style="padding-top:2%;padding-left:2%;padding-right:2%;padding-bottom:0px;">
                            <h3>@Interviews.Count Resultados para '@SearchText'</h3>
                        </div>
                        <div style="padding-top:1%;padding-bottom:1%;">
                            <SfGrid @ref="@interviewsGrid" ID="gridInterviews" DataSource="@Interviews" Width="100%" AllowPaging="true" AllowSelection="true">
                                <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridEvents RowSelected="GetInterviewSelected" TValue="InterviewGridModel"></GridEvents>
                                <GridColumns>
                                    <GridColumn Field="Date" HeaderText="Data" TextAlign="TextAlign.Left" Width="120" Format="dd/MM/yyyy" Type="ColumnType.Date"></GridColumn>
                                    <GridColumn Field="State" HeaderText="Estado" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field="CandidateId" HeaderText="ID" TextAlign="TextAlign.Center" Width="100"></GridColumn>
                                    <GridColumn Field="Name" HeaderText="Nome" TextAlign="TextAlign.Left" Width="180">
                                        <Template>
                                            @{
                                                var interview = (context as InterviewGridModel);

                                                <a class="grid-interview-link-column" title="Ir a Entrevista">@interview.Name</a>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="JobRole" HeaderText="Job Role" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                                    <GridColumn Field="Technologies" HeaderText="Tecnologias" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                                    <GridColumn Field="SalaryExpected" HeaderText="Exp. Salarial" TextAlign="TextAlign.Left" Width="140"></GridColumn>
                                    <GridColumn Field="Owner" HeaderText="Owner" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                                    <GridColumn Field="Avaliability" HeaderText="Disponibilidade" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12" style="text-align:center; margin-top:2%;">
                        <h3>@(GetEmptyMessage())</h3>
                    </div>
                </div>
            }
        }
    </div>
</div>
<SfSpinner @ref="@Spinner" Target="#page" Label="A Carregar..." />

<InterviewDialog @ref="@interviewDialog"></InterviewDialog>