﻿@page "/interview/search"
@inherits SearchModel


<div id="page" style="background-color: #E0E4FC; margin: 0px; padding: 3% 10% 3% 10%; height: 700px;">
    <div class="row" style="margin-bottom:2%;">
        <div class="col-md-7" style="text-align:right;">
            <h1>Pesquisa avançada</h1>
        </div>
        <div class="col-md-5" style="text-align:center;">
            <MatIcon Icon="clear" Style="font-size:40px;cursor:pointer" @onclick="@(async () => await AbortSearch())"></MatIcon>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" title="@("Modo de Pesquisa\nON: Pesquisa avançada AND ativada (ex: .NET AND SQL AND JAVASCRIPT)\nOFF: Pesquisa avançada AND desativada (ex: .NET OR SQL OR JAVASCRIPT)")">
            <SfSwitch @bind-Checked="@MatchFieldsOfSearch"></SfSwitch>
        </div>
    </div>
    <br/>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-3" title="Nomes dos Candidatos">
            <SfTextBox ID="txtName" @bind-Value="@CandidateName" Placeholder="Candidato" CssClass="e-outline" ShowClearButton="true"></SfTextBox>
        </div>
        <div class="col-md-3" title="Status de Disponibilidade dos Candidatos">
            <SfDropDownList ID="ddlAvailability" @ref="ddlAvailability" Placeholder="Disponibilidade" @bind-Value="@SelectedAvailability" CssClass="e-outline" DataSource="@CandidateAvailabilityOptions" ShowClearButton="true" />
        </div>
        <div class="col-md-3" title="Faixa Salarial Esperada pelos Candidatos">
            <SfDropDownList ID="ddlSalaryExpected" @ref="ddlSalaryExpected" Placeholder="Expectativa Salarial" @bind-Value="@SelectedSalaryExpected" CssClass="e-outline" DataSource="@SalaryExpectedOptions" ShowClearButton="true" />
        </div>
        <div class="col-md-3" title="Tipos de Contrato oferecidos em Entrevista">
            <SfDropDownList ID="ddlContractType" @ref="ddlContractType" Placeholder="Tipo de Contrato" @bind-Value="@SelectedContractType" CssClass="e-outline" DataSource="@ContractTypeOptions" ShowClearButton="true" />
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-3" title="Entrevistadores">
            <SfDropDownList ID="ddlOwner" @ref="ddlOwner" Placeholder="Owner" @bind-Value="@SelectedOwner" CssClass="e-outline" DataSource="@OwnerOptions" ShowClearButton="true" />
        </div>
        <div class="col-md-3" title="Área onde os candidatos já tenham atuado">
            <SfDropDownList ID="ddlBusinessArea" @ref="ddlBusinessArea" Placeholder="Área de Negócio" TValue="string" TItem="string" CssClass="e-outline" DataSource="@BusinessAreaTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddBusinessArea"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Anos de Experiência do Candidato">
            <SfDropDownList ID="ddlYearsOfExperience" @ref="ddlYearsOfExperience" @bind-Value="@SelectedYearOfExperience" Placeholder="Anos de Experiência" TValue="string" TItem="string" CssClass="e-outline" DataSource="@YearsOfExperienceOptions" AllowFiltering="true" ShowClearButton="true"></SfDropDownList>
        </div>
        <div class="col-md-3" title="Linguagem (idiomas)">
            <SfDropDownList ID="ddlIdiomas" @ref="ddlLanguages" Placeholder="Linguagem (idioma)" TValue="string" TItem="string" CssClass="e-outline" DataSource="@LanguageOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddLanguage"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:1%;">
            <MatDivider></MatDivider>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;" title="Categoria de Tecnologia: Perfil">
        <div class="col-md-3">
            <SfDropDownList ID="ddlProfile" @ref="ddlProfile" Placeholder="Perfil" TValue="string" TItem="string" CssClass="e-outline" DataSource="@ProfileTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddProfile"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Linguagens de Programação">
            <SfDropDownList ID="ddlProgramming" @ref="ddlProgramming" Placeholder="Programação" TValue="string" TItem="string" CssClass="e-outline" DataSource="@ProgrammingTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddProgramming"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Sistemas">
            <SfDropDownList ID="ddlSystems" @ref="ddlSystems" Placeholder="Sistemas" TValue="string" TItem="string" CssClass="e-outline" DataSource="@SystemsTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddSystem"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Bases de Dados">
            <SfDropDownList ID="ddlDatabases" @ref="ddlDatabases" Placeholder="Bases de Dados" TValue="string" TItem="string" CssClass="e-outline" DataSource="@DatabasesTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddDatabase"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-3" title="Categoria de Tecnologia: Testes">
            <SfDropDownList ID="ddlTests" @ref="ddlTests" Placeholder="Testes" TValue="string" TItem="string" CssClass="e-outline" DataSource="@TestsTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddTest"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Business Intelligence">
            <SfDropDownList ID="ddlBusinessIntelligence" @ref="ddlBusinessIntelligence" Placeholder="Business Intelligence" TValue="string" TItem="string" CssClass="e-outline" DataSource="@BITechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddBusinessIntelligence"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Frameworks">
            <SfDropDownList ID="ddlFrameworks" @ref="ddlFrameworks" Placeholder="Frameworks" TValue="string" TItem="string" CssClass="e-outline" DataSource="@FrameworksTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddFramework"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Content Management Systems">
            <SfDropDownList ID="ddlCMS" @ref="ddlCMS" Placeholder="CMS" TValue="string" TItem="string" CssClass="e-outline" DataSource="@CMSTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddCMS"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-3" title="Categoria de Tecnologia: Systems, Applications and Products">
            <SfDropDownList ID="ddlSAP" @ref="ddlSAP" Placeholder="SAP" TValue="string" TItem="string" CssClass="e-outline" DataSource="@SAPTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddSAP"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Categoria de Tecnologia: Metodologias">
            <SfDropDownList ID="ddlMethodologies" @ref="ddlMethodologies" Placeholder="Metodologias" TValue="string" TItem="string" CssClass="e-outline" DataSource="@MethodologiesTechSkillCategoryOptions" AllowFiltering="true" ShowClearButton="true">
                <DropDownListEvents TItem="string" TValue="string" ValueChange="AddMethodology"></DropDownListEvents>
            </SfDropDownList>
        </div>
        <div class="col-md-3" title="Linkdin dos Candidatos">
            <SfTextBox ID="txtLinkdin" @bind-Value="@CandidateLinkdin" Placeholder="Linkedin" CssClass="e-outline" ShowClearButton="true"></SfTextBox>
        </div>
        <div class="col-md-3" title="Localização">
            <SfTextBox ID="txtLocation" @bind-Value="@Location" Placeholder="Localização" CssClass="e-outline" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-12">
            <SfChip @ref="clsTechnologies" Selection="Syncfusion.Blazor.Buttons.SelectionType.None" EnableDelete="true">
                <ChipEvents OnDelete="RemoveSelectedTechnology"></ChipEvents>
                <ChipItems>
                    <ChipItem CssClass="custom-empty-chip"></ChipItem>
                </ChipItems>
            </SfChip>
            
            <SfChip @ref="clsLanguages" Selection="Syncfusion.Blazor.Buttons.SelectionType.None" EnableDelete="true">
                <ChipEvents OnDelete="RemoveSelectedLanguages"></ChipEvents>
                <ChipItems>
                    <ChipItem CssClass="custom-empty-chip"></ChipItem>
                </ChipItems>
            </SfChip>
        </div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-md-6">
            <SfButton ID="btnApplyFilters" OnClick="@(async () => await ApplyFilters())">APLICAR FILTROS</SfButton>&nbsp;
            <SfButton ID="btnClearFilters" OnClick="@(async () => await ClearFilters())">LIMPAR FILTROS</SfButton>
        </div>
    </div>
</div>
@if (ShowSearchResults)
{
    if (Interviews.Count > 0)
    {
        <div class="container" style="max-width:1600px;">
            <div class="mdc-elevation--z2" style="margin-top:5%;margin-bottom:5%;border-radius:20px;background-color:white;">
                <div style="padding-top:1%;padding-bottom:1%;">
                    <SfGrid @ref="@interviewsGrid" ID="gridInterviews" DataSource="@Interviews" Width="100%" AllowPaging="true" AllowSelection="true">
                        <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                        <GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                        @*<GridEvents RowSelected="@(async (e) => await GetInterviewSelected(e))" TValue="InterviewGridModel"></GridEvents>*@
                        <GridEvents OnRecordDoubleClick="@(async (e)=>await GetInterviewDoubleSelected(e))" TValue="InterviewGridModel"></GridEvents>
                        <GridColumns>
                            <GridColumn Field="Date" HeaderText="Data" TextAlign="TextAlign.Left" Width="120" Format="dd/MM/yyyy" Type="ColumnType.Date"></GridColumn>
                            <GridColumn Field="State" HeaderText="Estado" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                            <GridColumn Field="CandidateId" HeaderText="ID" TextAlign="TextAlign.Center" Width="100"></GridColumn>
                            <GridColumn Field="Name" HeaderText="Nome" TextAlign="TextAlign.Left" Width="180">
                                <Template>
                                    @{
                                        var interview = (context as InterviewGridModel);

                                        <a class="grid-interview-link-column" title="Ir a Entrevista">@interview.Name</a>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field="Name" HeaderText="Nome" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                            <GridColumn Field="JobRole" HeaderText="Job Role" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                            <GridColumn Field="Technologies" HeaderText="Tecnologias" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                            <GridColumn Field="SalaryExpected" HeaderText="Exp. Salarial" TextAlign="TextAlign.Left" Width="140"></GridColumn>
                            <GridColumn Field="Owner" HeaderText="Owner" TextAlign="TextAlign.Left" Width="180"></GridColumn>
                            <GridColumn HeaderText="Separador" TextAlign="TextAlign.Center" Width="120" AllowFiltering="false">
                                <Template>
                                    @{
                                        var interview = (context as InterviewGridModel);
                                        <a href="/candidate/@interview.CandidateId" data-toggle="tooltip" data-placement="top" title="Perfil do candidato em um novo separador" target="_blank">
                                            <MatIcon Icon="launch" />
                                        </a>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12" style="text-align:center; margin-top:2%;">
                <h3>@(GetEmptyMessage())</h3>
            </div>
        </div>
    }
}
<SfSpinner @bind-Visible="@SpinnerVisible" Label="@SpinnerLabel" CssClass="e-spin-overlay" />
<InterviewDialog @ref="@interviewDialog"></InterviewDialog>
<GlobalDialog GlobalDialogContentText="@ModalAlertContentText" GlobalDialogHeaderText="@ModalAlertHeaderText" IsErrorDialog="@IsErrorModal" IsSuccessDialog="@IsSuccessModal" IsWarningDialog="@IsWarningModal" ShowInterviewDialog="@ShowModalAlert" />