﻿@page "/home"
@inherits HomeModel

<div id="homePage">
    <div id="page" class="row" style="background-color:#AAB6F9; margin:0px; height:400px;">
        <div class="col-md-3 offset-md-3">
            <img src="images/home1.png" Style="width:368px;height:294px;margin-top:15%;" />
        </div>
        <div class="col-md-3" style="text-align:center;" title="Criação de nova entrevista">
            <MatButton Id="btnCriarEntrevista" Outlined="true" Label="Criar entrevista" Style="color:black;border-color:black;width:280px;height:77px;font-size:28px;border:2px solid;margin-top:45%;" @onclick="async () => await CreateInterview()"></MatButton>
        </div>
    </div>
    <div class="container" style="max-width:1600px;">
        <div class="mdc-elevation--z2" style="margin-top:2%;margin-bottom:5%;border-radius:20px;background-color:white;">
            <div style="padding-top:4%;padding-left:4%;padding-right:4%;padding-bottom:3%;" title="@InterviewCountInfo">
                <h3 style="font-size:24px;">Entrevistas Recentes</h3>
            </div>
            <div style="padding-top:1%;padding-bottom:1%;">
                <SfGrid @ref="@InterviewsGrid" ID="gridInterviews" DataSource="@Interviews" Width="100%" AllowSelection="true" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
                    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                    <GridFilterSettings Mode="Syncfusion.Blazor.Grids.FilterBarMode.OnEnter" EnableCaseSensitivity="false" IgnoreAccent="true" Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                    <GridEvents OnRecordDoubleClick="@(async (e)=>await GetInterviewDoubleSelected(e))" TValue="InterviewGridModel"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="Date" HeaderText="Data" TextAlign="TextAlign.Left" Width="120" Format="dd/MM/yyyy" Type="ColumnType.Date" FilterSettings="@(new FilterSettings{Type = Syncfusion.Blazor.Grids.FilterType.Excel})"></GridColumn>
                        <GridColumn Field="State" HeaderText="Estado" TextAlign="TextAlign.Left" Width="120">
                            <FilterTemplate>
                                <SfDropDownList Placeholder="Selecione..." ID="Estado" @bind-Value="@((context as PredicateModel<string>).Value)" TItem="string" TValue="string" DataSource="@(InterviewStates)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="CandidateId" HeaderText="ID" TextAlign="TextAlign.Center" Width="90"></GridColumn>
                        <GridColumn Field="Name" HeaderText="Nome" TextAlign="TextAlign.Left" Width="180">
                            <Template>
                                @{
                                    var interview = (context as InterviewGridModel);

                                    <a class="grid-interview-link-column" title="Ir a Entrevista">@interview.Name</a>
                                }
                            </Template>
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="Nome" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="Email" HeaderText="Email" TextAlign="TextAlign.Left" Width="180">
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="Email" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="JobRole" HeaderText="Job Role" TextAlign="TextAlign.Left" Width="180">
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="JobRole" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="Technologies" HeaderText="Tecnologias" TextAlign="TextAlign.Left" Width="180">
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="Tecnologias" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="SalaryExpected" HeaderText="Exp. Salarial" TextAlign="TextAlign.Left" Width="140">
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="ExpSalarial" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn Field="Owner" HeaderText="Owner" TextAlign="TextAlign.Left" Width="150">
                            <FilterTemplate>
                                <SfTextBox Placeholder="Preencher..." ID="ExpSalarial" @bind-Value="@((context as PredicateModel<string>).Value)" />
                            </FilterTemplate>
                        </GridColumn>
                        <GridColumn HeaderText="Separador" TextAlign="TextAlign.Center" Width="120" AllowFiltering="false">
                            <Template>
                                @{
                                    var interview = (context as InterviewGridModel);                                    
                                    <a href="/candidate/@interview.CandidateId" data-toggle="tooltip" data-placement="top" title="Perfil do candidato em um novo separador" target="_blank">
                                        <MatIcon Icon="launch" />
                                    </a>
                                }
                            </Template>
                        </GridColumn>
                        @if(_appState.OwnerLogged.Profile == "OP_0001")
                        {
                            <GridColumn Width="100" HeaderText="Arquivar" AllowFiltering="false">
                                <Template>
                                    @{ 
                                        var interview = (context as InterviewGridModel);
                                        <MatFAB Style="background-color:white;color:black;" Icon="archive" Mini="true" @onclick="@(()=>EditArchivedInterview(interview.Id))"></MatFAB>                                
                                    }
                                </Template>
                            </GridColumn>
                        }
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
    <SfSpinner @bind-Visible="@SpinnerVisible" Label="@SpinnerLabel" CssClass="e-spin-overlay" />
    <InterviewDialog @ref="@interviewDialog"></InterviewDialog>
    <ArchiveInterviewDialog @ref="@archiveInterviewDialog" ></ArchiveInterviewDialog>
</div>