﻿@page "/"
@namespace WebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RISE - Recruitment IT Selection Experience</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/custom-matblazor.css" rel="stylesheet" />
    <link href="css/custom-syncfusion.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/lodash.min.js"></script>
</head>
<body>
    <div id="app" style="width:100%; height:100%;">
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>
    </div>

    @*<div id="blazor-error-ui" style="z-index: 99999999;">
            <environment include="Staging,Production">
                Aconteceu um erro inesperado, por favor recarregue a aplicação.
            </environment>
            <environment include="Development">
                Aconteceu um erro inesperado, por favor recarregue a aplicação.
            </environment>
            <a href="" class="reload">Recarregar</a>
            <a class="dismiss">🗙</a>
        </div>*@

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    @*<script src="~/_content/MatBlazor/dist/matBlazor.js"></script>*@
    <script src="~/js/syncfusion-blazor.min.js"></script>
    @*<script src="js/matBlazor.js"></script>*@
    <script src="~/js/focus.js"></script>
    
</body>
</html>
